* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  font-size: 3rem;
/* width: 10rem; */
}

.calculator {
    width: 300px;
    border: 2px solid rgb(48, 48, 48);
}

.calculator-display {
  background-color: rgb(48, 48, 48);
  color: white;
  font-size: 5rem;
  padding: 0.5em 0.75em;
  text-align: right;
}

.calculator-keys {
  background-color: rgb(181, 181, 181);
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(4, 1fr);
}

.calculator-keys {
  background-color: white;
  text-align: center;
}

.key-operator {
  background-color: rgb(174, 173, 173);
}

.key-equal {
  grid-column: -2;
  grid-row: 2 / span 4;
  background-color: rgb(157, 222, 215);
}

.key-clear {
    grid-column: 2 / span 2;
    background-color: rgb(181, 181, 181);
}
