* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  font-size: 3rem;
  cursor: pointer;
}

.calculator {
  width: 350px;
  background-color: black;
  padding: 1rem;
  border-radius: 5%;
}

.calculator-display {
  color: white;
  font-size: 5rem;
  padding: 0.5em;
  text-align: right;
}

.calculator-keys {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

button {
  border-radius: 20%;
  margin: 0.4rem;
  border-style: none;
  background-color: rgb(208, 208, 208);
}

button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.key-operator {
  background-color: rgb(249, 178, 178);

}

.key-equal {
  grid-column: -2;
  grid-row: 2 / span 4;
  background-color: rgb(157, 222, 215);
}

.key-clear {
  grid-column: 2 / span 2;
  background-color: rgb(163, 247, 190);
}

.key-operator:hover, .key-clear:hover, .key-number:hover {
  transform: scale(1.1);
}

.key-equal:hover {
  transform: scale(1.05);
}
